body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

#todo-form {
    display: flex;
    margin-bottom: 20px;
}

#todo-input, #category-select {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}

#todo-list {
    list-style-type: none;
    padding: 0;
}

#todo-list li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.category {
    font-size: 0.8em;
    color: #666;
    margin-left: 10px;
}

#todo-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

#todo-form button[type="submit"]:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    #todo-form {
        flex-direction: column;
    }
    #todo-input, #category-select, #todo-form button[type='submit'] {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }
    button {
        font-size: 18px;
        padding: 12px 24px;
    }
    #todo-list li {
        flex-direction: column;
        align-items: flex-start;
    }
    #todo-list li div {
        margin-top: 10px;
    }
    .category {
        margin-left: 0;
        margin-top: 5px;
    }
}
